footer {
    background-color: #004b8d;
    padding: 20px 0;
    text-align: center;
    color: white;
  }
  
  .footer-content ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 0;
    padding: 0;
  }
  
  .footer-content a {
    color: white;
    text-decoration: none;
  }
  
  .footer-content a:hover {
    color: #008080;
  }

  @media only screen and (max-width: 768px) {
    .navbar {
      flex-direction: column;
    }
    .company-name h1 {
      font-size: 22px;
    }
    .nav-links ul {
      flex-direction: column;
      gap: 10px;
    }
  }